[submodule "patch/aviutl_exedit_sdk"]
	path = patch/aviutl_exedit_sdk
	url = https://github.com/yumetodo/aviutl_exedit_sdk
[submodule "patch/winwrap"]
	path = patch/winwrap
	url = https://github.com/yumetodo/winwrap
