[submodule "patch/aviutl_exedit_sdk"]
	path = patch/aviutl_exedit_sdk
	url = https://github.com/ePi5131/aviutl_exedit_sdk
[submodule "patch/winwrap"]
	path = patch/winwrap
	url = https://github.com/ePi5131/winwrap
[submodule "patch/json.h"]
	path = patch/json.h
	url = https://github.com/sheredom/json.h
